
    <h1>NEON GOTH BAMBI</h1>
        <div id="neon-goth-bambi" class="content">
            <video controls width="1080p" preload="metadata">
                <source
                    src="https://onedrive.live.com/download?resid=D1A2D1A988A3EDC3%21166014&authkey=!ANkBU0G2xmbkYfA"
                    type="video/mp4"
                />
            </video>
        </div>
        <div id="viewCountElement">Views: </div>
        <a href="https://1drv.ms/v/s!AsPto4ip0aLRipB-rTZwtAReCWQ9EA?e=BH9Y6n"> its not working!? NEON-GOTH-BAMBI Onedrive link</a>
        <h2>
            Warning noob bambis! advanced triggers from
            <a
                href="https://www.reddit.com/r/BambiSleep/comments/15i20yx/reuploaded_by_popular_request_with_modifications/"
            >
                r/BambiSleep
            </a>
        </h2>