<!DOCTYPE html>
<html lang="en">
  <head>
    <title>NEON GOTH BAMBI SERIES</title>
  </head>
  <body>
    <h1>NEON GOTH BAMBI 2</h1>
    <br />
    <section class="content">
      <div id="neon-goth-bambi-2" class="content">
        <video controls width="1080p" preload="metadata">
          <source
            src="https://onedrive.live.com/download?resid=D1A2D1A988A3EDC3%21176171&authkey=!ANkBU0G2xmbkYfA"
            type="video/mp4"
          />
        </video>
      </div>
      <div id="viewCount">Views: <%= viewCount %></div>
    </section>
    <br />
    <br />
    <h2>
      Warning noob bambis! advanced triggers from
      <a
        href="https://www.reddit.com/r/BambiSleep/comments/15i20yx/reuploaded_by_popular_request_with_modifications/"
      >
        r/BambiSleep
      </a>
    </h2>
  </body>
</html>
