  <h1 class="protest-riot-regular">Hucow Bambi</h1>
      <div id="hucow-bambi" class="content">
        <video id="video" controls width="1080p" preload="metadata">
          <source
            src="https://onedrive.live.com/download?resid=D1A2D1A988A3EDC3%21179432&authkey=!ANkBU0G2xmbkYfA"
            type="video/mp4"
          />
        </video>
      </div>
      <br>
      <div id="viewCountElement">Views: </div>
      <br><br>
      <p class="protest-riot-regular">
        if for some reason doesent work on your device try downloading it
        directly from the cloud
      </p>
      <a
        class="protest-riot-regular"
        href="https://1drv.ms/v/s!AsPto4ip0aLRivlo2sDNiss0AHVqOQ?e=Dz6RcT"
        >Download Hucow Bambi OneDrive</a
      >      
      <br><br>
      <h2>
      Warning noob bambis! advanced triggers from
      <a
        href="https://www.reddit.com/r/SissyHypnoVideo/comments/1ahilqc/freetributehucow_bambi_intense_platinum_hucow/"
      >
        r/BambiSleep
      </a>
    </h2>

