<div class="card-block">
  <ol>
    <!--Ranking list -->
    <li>
    
      <!--listed item -->
      <div class="icon">

        <img
          class="favicon"
          alt=""
          src="<%= folder.iconSrc %>"
          width="15px"
          height="15px"
        />
        <a class="link" href="<%= folder.homeUrl %>"></a>
        <a
          title="<%= folder.title %>"
          rel="noopener nofollow"
          target="_new"
          href="<%= folder.homeUrl %>"
        >
    
          <i class="fa fa-external-link"></i>
        </a>
      </div>
    </li>
    <!--listed item END-->
  </ol>
  <!--Ranking list END-->
</div>
