<header>
      <div class="container">
        <div class="row">
          <div class="col col-12">
            <nav class="navbar navbar-dark d-flex">
              <div
                class="navbar-brand logo col-12 col-sm-3 col-lg-3 mr-auto p-2"
              >
              <a href="/">
                  <img
                    class="img-fluid"
                    src="https://brandynette.xxx/wp-content/uploads/2024/02/brandynette.xxx-2560x640-1-300x75.jpg"
                    alt="Logo"
                  />
                </a>
              </div>
              <div id="timer">00:00:00</div>
              <div class="p-2" id="brandy-landing">
                <a href="https://brandynette.xxx/bn-sissy/brandy-landing.html">
                brandynette.xxx
                </a>
              </div>
            </nav>
          </div>
        </div>
      </div>
</header>
<% include("../js/timer.ejs") %>